@{
    ViewData["Title"] = "Random";
}
@model System.Collections.Generic.List<RecommendationSystem.Models.Drink>?

<h1>Cocktails</h1>

@if (Model?.Count > 0 )

{
<ul>
    @foreach (var cocktail in Model)
    {
        <ul>
            <li>Name: @cocktail.strDrink</li>
            <li>Glass type: @cocktail.strGlass</li>
            <li>Category: @cocktail.strCategory</li>
            <li>How to prepare: @cocktail.strInstructions</li>
            <li><img src="@cocktail.strDrinkThumb" alt=""/></li>
        </ul>
    }
</ul>
}
else
{
<p>No cocktails found.</p>
}
